@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kanit:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,700;1,300;1,400;1,500&family=Rubik+80s+Fade&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  
  
}
:root {
  --grad--gray: #85827e;
  --grad--lightgray: #e3dddd;
  --rgba--blur: rgba(255, 255, 255, 0.5);
  --grad--blueskay: #0196f9;
  --grad--blueBlack: #03086f;
  --textNav-blue: #2196f3;
  --back--lightblue: #28d8db;
  --text--footblue: #007bff;
  --primary-blue: #4b68ee;
  --box--lightgray: #c6dce0cc;
  --color-secondary2: #112b3d;
  --text--graybrown: #333333;
  --text--gray: #555555;
  --text--bronze: #335871;
  --text-bronzeBlack: #2b5564;
  --text--title: #324350;
  --bord-white: #ffffff;
  --bord--ligtgwhite: #fff;
  --back-secondary: #21455f;
  --back-white: #e8e8e8;
  --back-violet: #b1a1b4;
  --text-yelloubronze:#a29346;
  --box--blue: #0062cc;
  --box--greenblack: #253333c4;
  --box--ligthblueskay: #48a2bd;
  --gradbox-graylight: #b8b1b1;
  --gradbox--whiteyellou: #fafaf8;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--back-secondary);
}

/* Estilos Header y logo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

/* Estilos navbar */
.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.nav-item {
  position: relative;
}

.nav-link {
  font-size: 3rem;
  color: #eb7535;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #f2f2f2;
  border-radius: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* estilos para la secciòn de portada */
#hero {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 60%;
  background-color: var(--back-white);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero__container {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.hero__container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__text {
  position: relative ;
  z-index: 1;
  background: linear-gradient(45deg, var(--back-violet),var(--back-white) );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  max-width: 90%;
  margin-right: 1.5rem;
  text-align: center;
  animation: fadeInUp 2s ease-out;
}



.hero__text h1 { 
  font-size: 2rem;
  font-weight: bold;
  color: var(--text--title);
  margin-bottom: 2rem;
  overflow: hidden; /* Ensure the content is not shown outside the element */
  white-space: nowrap; /* Keep the content on a single line */
  border-right: .15em solid orange; /* The typewriter cursor */
  width: 0;
  animation: typing 4s steps(40, end), blink-caret .8s step-end infinite;
  animation-fill-mode: forwards;
}


.hero__text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 2rem;
}

.hero__button {
  display: inline-block;
  padding: 1rem;
  color: #fff;
  background-color: var(--back-secondary);
  border: none;
  border-radius: 18px;
  transition: background-color 0.2s ease-in-out;
}

.hero__button:hover {
  background-color: var(--grad--blueskay);
}

.hero__button a {
  color: #fff;
  text-decoration: none;
}

.hero__button a:hover {
  color: #fff;
  text-decoration: none;
}

/* Estilos sección información "Nosotros" */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;

}
.text__info h3 {
  color: #0d5b7f;
  font-size: 1.5rem;
  font-weight: 600;
}
.text__info p {
  color: #363535;
  font-size: 16px;
}
.slaider {
  display: flex;
  justify-content: center;
}
.slaider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
}
.slaideshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 15%;
}
.slaideshow li {
  margin: 10px;
}

.slaideshow img {
  width: 190px;
  height: 190px;
}


/* Estilos Box de texto de informacion */
.about__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 320px;
  margin: 20px;

}

.about__text1 {
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );

  
}
.about__text2 {
  background: linear-gradient(
    90deg,
    var(--gradbox-graylight),
    var(--gradbox--whiteyellou)
  );

}
.about__text3 {
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );;
}
.box span {
  color: var(--text-bronzeBlack);
  font-size: 24px;
  text-align: center;
  margin-bottom: 18px;
}
.box p {
  color: var(--text--graybrown);
  font-size: 18px;
  text-align: center;
}
/* Estilos contenedor de información */
.about__containerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 40px 20px;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 10px;
}

.text__info {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  width: 50%;
  background: linear-gradient(to top, var(--back-violet),var(--back-white) );
  border-radius: 5px;
}
.text__info p {
  
  color: var(--text--graybrown);
  font-size: 18px;
  text-align: center;

}
.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 width: 100%;
}

.benefits .text__benefits {
  text-align: start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 80%;

}

 .text__benefits h3 {
  color: var(--text-yelloubronze);
  font-size: 24px;
  margin-bottom: 20px;
}
.boxtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  color: var(--text-yelloubronze);
}
.intro h2 {
  color: var(--text-yelloubronze);
  font-size: 36px;
  margin-bottom: 50px;
  text-align: start;
}

.intro p {
  color: var(--text--graybrown);
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
  margin-bottom: 40px;
}
/* Estilos para los videos */
.info__video {
  width: 50%;
  margin-top: 50px;
  overflow: hidden;
}

.info__video video {
  width: 100%;
  border-radius: 12px;
}

/* Estilos para la sección de servicios */
#Services {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text--bronze);
}
.service__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 90%;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text__service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );
}
/* Estilos para las tarjetas de sección de servicios */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  width: 90%;
  background: linear-gradient(
    90deg,
    var(--gradbox--whiteyellou),
    var(--gradbox-graylight)
  );
  border-radius: 5px;
  transition: all 0.3s ease;
  animation: color-cycle 5s infinite;
}
.card:hover {
  transform: scale(1.05);
}


.card p {
  font-size: 1rem;
  margin-top: 10px;
  color: var(--text-yelloubronze);
}

/* Estilos para la sección de Contacto */

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background:linear-gradient(to right, #d5dce1, #0a1c2b);
  padding: 4rem 0;
}

.contact__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  text-align: center;
}

.contact__info h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #efe9e9;
  margin-bottom: 2rem;
}

.contact__info p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text--graybrown);
  margin-bottom: 2rem;
}

.contact__info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__info li {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gradbox--whiteyellou);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.contact__info li i {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #3ccbce;
}
.contact__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact__form h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--back-violet);
  margin-bottom: 2rem;
}

.contact__form form {
  display: flex;
  flex-direction: column;
}

.contact__form input,
.contact__form textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0.25rem;
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3ccbce;
}

.contact__form textarea {
  height: 10rem;
}

.contact__form button[type="submit"] {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #3ccbce;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

.contact__form button[type="submit"]:hover {
  background-color: #2aa79b;
}
/* Estilos para el footer */
footer {
  background: var(--text--graybrown);
  color: var(--bord--ligtgwhite);
  padding: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__column {
  width: 30%;
  margin-bottom: 30px;
}

.footer__column h2 {
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--bord--ligtgwhite);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

ul li i {
  margin-right: 10px;
  font-size: 16px;
}

ul li a {
  color: var(--grad--blueskay);
  text-decoration: none;
}

/* Estilo para el enlace "Volver al inicio" */

.back-to-top {
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
 
}
